[submodule "vendor/django"]
	path = vendor/django
	url = git://github.com/django/django.git
[submodule "vendor/south"]
	path = vendor/south
	url = git://github.com/andrewgodwin/south.git
[submodule "vendor/django-compress"]
	path = vendor/django-compress
	url = git://github.com/paltman/django-compress.git
[submodule "vendor/django-debug-toolbar"]
	path = vendor/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "vendor/django-tagging"]
	path = vendor/django-tagging
	url = git://github.com/clones/django-tagging.git
[submodule "vendor/wymeditor"]
	path = vendor/wymeditor
	url = git://github.com/flother/wymeditor.git
