[submodule "vendor/django"]
	path = vendor/django
	url = git://github.com/django/django.git
[submodule "vendor/south"]
	path = vendor/south
	url = git://github.com/andrewgodwin/south.git
[submodule "vendor/django-compress"]
	path = vendor/django-compress
	url = git://github.com/paltman/django-compress.git
[submodule "vendor/django-debug-toolbar"]
	path = vendor/django-debug-toolbar
	url = git://github.com/robhudson/django-debug-toolbar.git
[submodule "vendor/participationgraphs"]
	path = vendor/participationgraphs
	url = git://github.com/flother/participationgraphs.git
[submodule "vendor/typogrify"]
	path = vendor/typogrify
	url = git://github.com/flother/typogrify.git
