Django==1.1.2
Flickr.API==0.4.4
Markdown==2.0.3
PIL==1.1.7
South==0.7.1
django-compress==1.0.1
-e git://github.com/flother/participationgraphs.git@a0aff9b8b502e2849fe61d147f8b1b4d9294afb8#egg=participationgraphs-0.1.0-py2.5-dev
-e svn+http://python-twitter.googlecode.com/svn/trunk@183#egg=python_twitter-0.7_devel-py2.5-dev_r183
smartypants==1.6.0.3
-e git://github.com/flother/staticgenerator.git@dfb85ef3ef63762decdcfcbb45ba83998f250e0e#egg=staticgenerator-1.3.4-py2.5-dev
-e svn+http://typogrify.googlecode.com/svn/trunk@16#egg=typogrify-1.0-py2.5-dev_r16
