/* IE 6 and 7.
   -------------------------------------------------------------------------- */
input, button, textarea, select {
	font-size: 100%;
}
button {
	line-height: 1;
	padding-bottom: .5em;
	padding-top: .5em;
}
#blogarchive #content #entries li.even {
	float: none;
}
#contact #supplement {
	background-position: 0 1.4em;
}
#search #supplement input {
	float: left;
}
#search #supplement button {
	float: right;
}
#search #content input {
	float: left;
}
#search #content button {
	float: right;
	margin: 0;
}

/* IE 7 only.
   -------------------------------------------------------------------------- */
#nav {
	top: 2px;
}

/* IE 6 only.
   -------------------------------------------------------------------------- */
* html #nav {
	right: 0;
	top: 6px;
}
* html #nav li a {
	line-height: 74px;
}
* html #footer #whoisthis {
	height: 185px;
}
* html #footer #latestentries li {
	zoom: 1;
}
* html #blogarchive #content #entries li.odd {
	display: inline;
}
* html #entry #comments ol {
	float: left;
}
* html #entry #comments li {
	float: left;
}
* html #entry #comments li div {
	overflow: hidden;
}
* html #contact #supplement {
	background-image: url(../img/core/bluebird.gif);
}
* html #mandatorynotice {
	bottom: 4.2em;
}