/* Blog index.
   -------------------------------------------------------------------------- */
#blog #standfirst {
	font-size: 1.2em;
	margin: .86em 0;
}
#blog #metadata {
	color: #999;
}
#recententries {
	margin: 0;
	overflow: hidden;
}
#recententries li {
	border-top: 1px dotted #999;
	list-style: none;
	margin: -1px 0 0 0;
	padding: .75em 0;
}
#recententries li span {
	display: block;
}
#yeararchives {
	border-bottom: 1px dotted #999;
	border-top: 1px dotted #999;
	margin: 0 0 1.4em;
	padding: .75em 0;
	text-align: center;
}
#yeararchives li {
	display: inline;
	padding: 0 20px;
}
#yeararchives li a {
	font-weight: bold;
}

/* Blog yearly archive.
   -------------------------------------------------------------------------- */
#blogarchive #content #entries {
	float: left;
}
#blogarchive #content #entries ol {
	margin: 0 -10px;
	overflow: hidden;
}
#blogarchive #content #entries li {
	border-top: 1px dotted #999;
	float: left;
	list-style: none;
	margin: -1px 10px 0;
	padding: .75em 0;
	width: 260px;
}
#blogarchive #content #entries li.odd {
	clear: both;
}
#blogarchive #content #entries li.even {
	clear: right;
}
#blogarchive #content #entries li strong {
	display: block;
}

/* Blog entry detail.
   -------------------------------------------------------------------------- */
#entry #standfirst {
	color: #999;
}
#entry p.illustration {
	background: #fff;
	float: right;
	margin: 0 0 1.4em 1.4em;
	padding: .75em;
	width: 200px;
}
#entry p.illustration {
	background: #fff;
	float: right;
	margin: 0 0 1.4em 1.4em;
	padding: .75em;
	width: 240px;
}
#entry p.illustration img, #entry p.oldillustration img {
	display: block;
	margin: 0 0 .75em;
}
#entry #comments {
	border-top: 1px solid #999;
	margin-top: 4.2em;
	padding-top: 1.4em;
}
#entry #comments ol {
	border-bottom: 1px dotted #999;
}
#entry #comments li {
	border-top: 1px dotted #999;
	margin: 1.4em 0;
	overflow: auto;
}
#entry #comments li p.metadata {
	color: #666;
}
#entry #commentsclosed {
	margin: 4.2em 0 0;
}
#blogentry #supplement {
	text-align: right;
}
#blogentry #metadata {
	color: #999;
	margin-bottom: 2.8em;
}

/* Comment preview.
   -------------------------------------------------------------------------- */
#comments blockquote {
	color: #333;
	font-size: 1.4em;
	margin: 2em 0 1em;
	overflow: auto;
}
#comments #content h2 {
	margin-top: 1.71em;
}

/* Contact
   -------------------------------------------------------------------------- */
#contact #supplement {
	background: url(../img/core/bluebird.png) no-repeat 0 2.8em;
}
#twitter {
	padding-left: 44px;
}
