/* Structural elements.
   -------------------------------------------------------------------------- */
html {
	background: #e6e3dc url(../img/core/bg.png) no-repeat top center fixed;
	color: #333;
	font: 14px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}

/* Header.
   -------------------------------------------------------------------------- */
#header {
	border-top: 6px solid #333;
	border-bottom: 2px solid #333;
	margin: 1.4em 0 0;
	padding: 1.4em 0 1.4em;
	position: relative;
}
#brand {
	background: url(../img/core/brand.png);
	height: 34px;
	margin: 0;
	text-indent: -9999px;
	width: 289px;
}
#brand a {
	border: 0;
	display: block;
	height: 100%;
	padding: 0;
}

/* Navigation.
   -------------------------------------------------------------------------- */
#nav {
	margin: 0;
	height: 100%;
	position: absolute;
	right: -10px;
	top: 0;
}
#nav li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
#nav li a {
	background: no-repeat center bottom;
	border-bottom: 0;
	color: #333;
	float: left;
	font-size: 1.2em;
	height: 100%;
	line-height: 72px;
}
#nav li a:hover {
	color: #3779b2;
}
body.blog #nav li#navblog a, body.contact #nav li#navcontact a,
body.search #nav li#navsearch a, body.about #nav li#navabout a {
	background-image: url(../img/core/navli.png);
}

/* Columns.
   -------------------------------------------------------------------------- */
#content {
	border-top: 1px solid #999;
	float: left;
	padding-top: 1.4em;
	width: 540px;
}
#supplement {
	border-top: 1px solid #999;
	float: left;
	margin: 0 0 0 20px;
	padding-top: 1.4em;
	width: 380px;
}
#supplement h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: .86em 0 .58em;
}

/* Footer.
   -------------------------------------------------------------------------- */
#footer {
	border-bottom: 1.4em solid #e6e3dc;
	clear: both;
	float: left;
	padding: 2.8em 0 0;
	width: 100%;
}
#footer div {
	border-bottom: 2px solid #333;
	border-top: 6px solid #333;
	float: left;
	padding: 1.4em 0;
}
#footer #whoisthis {
	background: url(../img/core/uk_map.png) no-repeat;
	border: 0;
	float: left;
	min-height: 185px;
	padding: 0 20px 0 160px;
	width: 200px;
}
#footer #latestentries {
	border: 0;
	float: left;
	padding: 0 0 0 20px;
	width: 300px;
}
#footer #latestentries li {
	margin: 0;
}
#footer #latestentries span {
	color: #999;
	display: block;
	font-size: .8em;
	line-height: 1.75em;
}
#footer #elsewhere {
	border: 0;
	float: left;
	margin: 0 0 0 20px;
	padding: 0;
	width: 220px;
}
#footer #elsewhere ul {
	margin-top: -3px;
}
#footer #elsewhere li {
	background: url(../img/core/elsewhere.png) no-repeat;
	float: left;
	margin: 0 0 12px;
	padding: 3px 0 3px 35px;
	width: 75px;
}
#footer #elsewhere #flickr {
	background-position: 0 -53px;
}
#footer #elsewhere #delicious {
	background-position: 0 -107px;
}
#footer #elsewhere #github {
	background-position: 0 -215px;
	padding-bottom: 5px;
}
#footer #elsewhere #northatlanticradio {
	background-position: 0 -164px;
	margin-top: -2px;
}
#footer h2 {
	font-size: 1em;
	font-weight: bold;
}
#footer p, #footer ul, #footer ol, #footer li {
	margin: 0;
}
#footer li {
	list-style: none;
}

/* Flash messages.
   -------------------------------------------------------------------------- */
p.flashnotice {
	background: #263b39;
	color: #fff;
	padding: .75em 1em;
}
p.flasherror {
	background: #eb7456;
	color: #000;
	margin: 0;
	padding: .75em 1em;
}
