/* Headings.
   -------------------------------------------------------------------------- */
h1 {
	font-size: 1.8em;
	margin: 1.54em 400px 0 0;
	padding: .78em 0;
}
h2 {
	font-size: 1.4em;
	margin: 1em 0;
}

/* Links.
   -------------------------------------------------------------------------- */
a {
	padding-bottom: 1px;
	text-decoration: none;
}
a:link {
	color: #3779b2;
}
a:visited {
	color: #7695b2;
}
a:hover {
	border-bottom: 1px solid;
	color: #3779b2;
}
a:focus, a:active {
	color: #333;
}
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link, h1 a:visited,
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #333;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
h6 a:hover {
	color: #3779b2;
}

/* Lists.
   -------------------------------------------------------------------------- */
ol, ul {
	margin: 1.4em 0;
}
ul li {
	list-style: disc outside;
	margin: .75em 0;
}
ol li {
	list-style: decimal outside;
	margin: .75em 0;
}

/* Forms.
   -------------------------------------------------------------------------- */
form {
	margin: 1.4em 0;
	position: relative;
}
#mandatorynotice {
	bottom: 1.4em;
	color: #666;
	margin: 0;
	position: absolute;
	right: 0;
}
ul.errorlist {
	background: url(../img/core/error_arrow.png) no-repeat bottom left;
	border-bottom: 0;
	margin: 1.4em 0 -.75em;
	padding-bottom: 7px;
}
ul.errorlist li {
	background: #eb7456;
	border-top: 0;
	color: #000;
	display: block;
	margin: 0;
	padding: .75em 1em;
	text-shadow: none;
}
form p {
	margin: 0;
}
form p.note {
	color: #666;
	margin: 1.4em 0;
}
label {
	display: block;
	margin: 1.4em 0 .2em;
}
button, input, textarea {
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input {
	border: 2px solid #fff;
	padding: 6px;
	width: 22em;
}
input:focus {
	border-color: #999;
	outline: 0;
}
textarea {
	border: 2px solid #fff;
	margin: 0;
	padding: 6px;
	width: 524px;
}
textarea:focus {
	border-color: #999;
	outline: 0;
}
#field_ham_trap {
	display: none;
}
button {
	background: #999;
	border: 0;
	display: inline;
	color: #fff;
	cursor: pointer;
	margin: .7em 0;
	padding: .7em 1em;
	width: 9.1em;
}
button:hover, button:focus, button:active {
	background: #333;
}

/* Miscellaneous block elements.
   -------------------------------------------------------------------------- */
blockquote {
	color: #999;
	margin: 1.4em 2em;
}
p {
	margin: 1.4em 0;
}
pre {
	font-family: Consolas, Menlo, "Deja Vu Sans Mono", Monaco, monospace;
	margin: 1.4em 2em;
	overflow: auto;
	width: 100%;
}

/* Miscellaneous inline elements.
   -------------------------------------------------------------------------- */
code {
	background: #eee;
	color: #666;
	font: 13px/1.4 Consolas, Menlo, "Deja Vu Sans Mono", Monaco, monospace;
}
pre code {
	background: #e8e7e5;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
