/* Blog index.
   -------------------------------------------------------------------------- */
#blog #metadata {
	color: #999;
}
#recententries {
	margin: 0;
	overflow: hidden;
}
#recententries li {
	border-bottom: 1px dotted #999;
	list-style: none;
	margin: 0;
	padding: .75em 0;
}
#recententries li span {
	display: block;
}
#yeararchives {
	border-bottom: 1px dotted #999;
	margin: 0 0 1.4em;
	padding: .75em 0;
	text-align: center;
}
#yeararchives li {
	display: inline;
	padding: 0 20px;
}
#yeararchives li a {
	font-weight: bold;
}

/* Blog yearly archive.
   -------------------------------------------------------------------------- */
#blogarchive #content #entries {
	float: left;
}
#blogarchive #content #entries ol {
	margin: 0 -10px;
	overflow: hidden;
}
#blogarchive #content #entries li {
	border-top: 1px dotted #999;
	float: left;
	list-style: none;
	margin: -1px 10px 0;
	padding: .75em 0;
	width: 260px;
}
#blogarchive #content #entries li.odd {
	clear: both;
}
#blogarchive #content #entries li.even {
	clear: right;
}
#blogarchive #content #entries li strong {
	display: block;
}
#blogarchive #entriesbymonth {
	margin: .75em 0 0;
	text-align: center;
}
#blogarchive #yeararchives {
	border-top: 1px dotted #999;
	margin-top: 1.4em;
}

/* Blog entry detail.
   -------------------------------------------------------------------------- */
#entry #standfirst {
	color: #999;
}
#entry p.figure {
	background: #fff;
	border: 6px solid #999;
	color: #999;
	font-size: .8em;
	padding: 1.4em;
	text-align: center;
}
#entry p.figure img {
	display: block;
	margin: 0 auto 1.4em;
}
#entry p.illustration {
	background: #fff;
	float: right;
	margin: 0 0 1.4em 1.4em;
	padding: .75em;
	width: 200px;
}
#entry p.oldillustration {
	background: #fff;
	float: right;
	margin: 0 0 1.4em 1.4em;
	padding: .75em;
	width: 240px;
}
#entry p.illustration img {
	display: block;
	margin: 0 0 .75em;
}
#entry p.oldillustration img {
	vertical-align: bottom;
}
#entry #comments {
	border-top: 1px solid #999;
	margin-top: 4.2em;
	padding-top: 1.4em;
}
#entry #comments ol {
	border-bottom: 1px dotted #999;
}
#entry #comments li {
	border-top: 1px dotted #999;
	list-style: none;
	margin: 0;
	overflow: auto;
}
#entry #comments li div {
	float: left;
	width: 380px;
}
#entry #comments li p.metadata {
	color: #666;
	float: right;
	text-align: right;
	width: 140px;
}
#entry #comments li p.metadata img {
	background: #fff;
	float: right;
	margin: 0 0 0 1em;
	overflow: hidden;
	padding: 4px;
}
#entry #comments li p.metadata span {
	display: block;
	font-size: .8em;
	line-height: 1.75em;
}
#entry #commentsclosed {
	color: #999;
	margin: 4.2em 0 0;
}
#blogentry #supplement {
	text-align: right;
}
#blogentry #metadata {
	color: #999;
	margin-bottom: 2.8em;
}
#blogentry #nextentry, #blogentry #previousentry {
	color: #999;
}
#blogentry #nextentry {
	background: url(../img/right_arrow.png) no-repeat center right;
	padding: 0 31px 0 0;
}
#blogentry #previousentry {
	background: url(../img/left_arrow.png) no-repeat center left;
	float: right;
	margin: 0;
	padding: 0 0 0 31px;
}
#blogentry #nextentry span, #blogentry #previousentry span {
	display: block;
}

/* Comment preview.
   -------------------------------------------------------------------------- */
#comments blockquote {
	color: #333;
	font-size: 1.4em;
	margin: 2em 0 1em;
	overflow: auto;
}
#comments #content h2 {
	margin-top: 1.71em;
}

/* About
   -------------------------------------------------------------------------- */
#about #content {
	border: 0;
	float: none;
	padding: 0;
	width: 100%;
}
#about #content h1 {
	background: url(../img/matt_banner.jpg) no-repeat;
	border-bottom: 3px solid #333;
	height: 229px;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	width: 100%;
}
#about #content h2 {
	border-bottom: 2px solid #333;
}
#about #content div {
	float: left;
	margin: 0 20px 0 0;
	width: 300px;
}
#about #theman li {
	list-style: none;
}
#about #gitgraph {
	background: #fff;
	border: 6px solid #c0c0c0;
	padding: 6px;
}
#about #gitgraph img {
	display: block;
}
#about #content #everythingelse {
	margin: 0;
}
#about #everythingelse ul {
	margin: -1.4em 0 0;
}
#about #everythingelse li {
	border-bottom: 1px solid #999;
	list-style: none;
	margin: 0 0 -1px;
	padding: 1.4em 0;
}
#about #everythingelse li.last {
	border-bottom: 0;
}
#about #everythingelse span {
	display: block;
}

/* Contact
   -------------------------------------------------------------------------- */
#contact #supplement {
	background: url(../img/bluebird.png) no-repeat 0 2.8em;
}
#twitterme {
	padding-left: 44px;
}

/* Search results.
   -------------------------------------------------------------------------- */
#search #content input {
	width: 28em;
}
#search #content ol li a {
	font-size: 2em;
}
#search #content ol li span {
	display: block;
}
#searchpagination {
	color: #999;
	margin: 2.8em 0 1.4em;
	text-align: center;
}
#searchpagination p, #searchpagination ul {
	margin: 0;
}
#searchpagination li {
	float: left;
	list-style: none;
	margin-top: -1.4em;
	width: 50%;
}
#search #supplement p {
	display: inline;
}
#search #supplement input {
	width: 16.5em;
}
#search #supplement button {
	margin: 0;
}
#search #supplement #poweredbygoogle {
	color: #999;
}
