<form action="{% url contact_send_message %}" method="post">
	<p id="mandatorynotice">All fields are mandatory. Your details will be kept private.</p>
	<p id="field_{{ form.sender_name.html_name }}">
		{{ form.sender_name.errors }}
		{{ form.sender_name.label_tag }}
		{{ form.sender_name }}
	</p>
	<p id="field_{{ form.sender_email.html_name }}">
		{{ form.sender_email.errors }}
		{{ form.sender_email.label_tag }}
		{{ form.sender_email }}
	</p>
	<p id="field_{{ form.body.html_name }}">
		{{ form.body.errors }}
		{{ form.body.label_tag }}
		{{ form.body }}
	</p>
	<p id="field_{{ form.ham_trap.html_name }}">
		{{ form.ham_trap.errors }}
		{{ form.ham_trap.label_tag }}
		{{ form.ham_trap }}
	</p>
	<button type="submit">Send message</button>
</form>
