{% extends "base.html" %}

{% block headtitle %}Contact me{% endblock %}
{% block pagetitle %}Contact me{% endblock %}

{% block content %}
	{% if sent %}
		<p class="flash flashnotice">Thanks for your message. I’ll read it and respond as soon as I can.</p>
	{% endif %}
	<form action="{% url contact_send_message %}" method="post">
		<fieldset>
			<p id="mandatorynotice">All fields are mandatory. Your details will be kept private.</p>
			{{ form.sender_name.errors }}
			<p id="field_{{ form.sender_name.html_name }}">
				{{ form.sender_name.label_tag }}
				{{ form.sender_name }}
			</p>
			{{ form.sender_email.errors }}
			<p id="field_{{ form.sender_email.html_name }}">
				{{ form.sender_email.label_tag }}
				{{ form.sender_email }}
			</p>
			{{ form.body.errors }}
			<p id="field_{{ form.body.html_name }}">
				{{ form.body.label_tag }}
				{{ form.body }}
			</p>
			<button type="submit">Send message</button>
		</fieldset>
	</form>
{% endblock %}

{% block supplement %}
	<p>If you’d like to send me an email rather than use the form, send an email to <em>matt dot riggott at gmail dot com</em>.</p>
{% endblock %}
