{% load comments i18n %}

<form action="{% comment_form_target %}" method="post">
	<fieldset>
		{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
		{% for field in form %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}
				{% ifequal field.name "honeypot" %}
					<input id="id_honeypot" name="honeypot" value="" type="hidden" />
				{% else %}
					{% if field.errors %}{{ field.errors }}{% endif %}
					<p{% if field.errors %} class="error"{% endif %}>
						{{ field.label_tag }} {{ field }}
					</p>
				{% endifequal %}
			{% endif %}
		{% endfor %}
		<p class="note">Everything but URL is required, but your email address will be neither shared nor displayed. Your <a href="http://www.gravatar.com/">Gravatar</a> will be shown if you have one.</p>
		<button name="preview" type="submit" value="Preview">Preview</button>
	</fieldset>
</form>
