{% extends "comments/base.html" %}
{% load comments i18n %}

{% block headtitle %}Preview your comment{% endblock %}
{% block pagetitle %}Preview your comment{% endblock %}

{% block content %}
	{% if comment %}<blockquote>{{ comment|urlizetrunc:60|linebreaks }}</blockquote>{% endif %}
	<form action="{% comment_form_target %}" method="post">
		{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
		{% if not form.errors %}
			<button name="submit" type="submit" value="Post your comment">Post</button>
		{% endif %}
		<h2>Change your comment</h2>
		{% if form.errors %}
			<p class="flash flasherror">Please correct the errors below.</p>
		{% endif %}
		{% for field in form %}
			{% if field.is_hidden %}
				{{ field }}
			{% else %}
				{% ifequal field.name "honeypot" %}
					<input id="id_honeypot" name="honeypot" value="" type="hidden" />
				{% else %}
					{% if field.errors %}{{ field.errors }}{% endif %}
					<p{% if field.errors %} class="error"{% endif %}{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
						{{ field.label_tag }} {{ field }}
					</p>
				{% endifequal %}
			{% endif %}
		{% endfor %}
		<p class="note">Your email address and URL are optional. Include your email address if you have a <a href="http://www.gravatar.com/">Gravatar</a>. Your email address will be neither shared nor displayed.</p>
		<button name="preview" type="submit" value="Preview">Preview</button>
	</form>
{% endblock %}
