{% extends "base.html" %}

{% block headtitle %}Blog entries in {{ year }}{% endblock %}
{% block pagetitle %}Blog entries in {{ year }}{% endblock %}

{% block headsupplement %}<link href="http://feeds.feedburner.com/flother" rel="alternate" type="application/rss+xml" />{% endblock %}

{% block bodyid %}blogarchive{% endblock %}

{% block content %}
	<div id="entries">
		{% if entries %}
			<ol>
				{% for entry in entries %}
					<li class="{% cycle odd,even %}">
						<strong><a href="{% url blog_entry_detail entry.published_at.year, entry.slug %}">{{ entry.title }}</a></strong>
						{{ entry.published_at|date:"jS F" }}
					</li>
				{% endfor %}
			</ol>
		{% endif %}
	</div>
{% endblock %}

{% block supplement %}
	<p id="entriesbymonth"><img alt="Graph showing number of posts per month for {{ year }}" height="81" src="http://chart.apis.google.com/chart?cht=bvs&amp;chs=350x81&amp;chco=999999&amp;chf=bg,s,e6e3dc00&amp;chds=0,{{ max_entries_per_month }}&amp;chd=t:{% for month, month_entries in entries_by_month.items %}{{ month_entries }}{% if not forloop.last %},{% endif %}{% endfor %}&amp;chxs=0,999999,11,0,l|1,999999,11,0,l&amp;chxt=x,y&amp;chxl=0:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|1:|0|{{ max_entries_per_month }}" title="Posts per month for {{ year }}" width="350" /></p>
	{% if years_with_entries %}
		<ol id="yeararchives">
			{% for otheryear in years_with_entries %}
				<li>
					{% ifnotequal year otheryear|date:"Y" %}
						<a href="{% url blog_entry_archive_year otheryear|date:"Y" %}">{{ otheryear|date:"Y" }}</a>
					{% else %}
						{{ otheryear|date:"Y" }}
					{% endifnotequal %}
				</li>
			{% endfor %}
		</ol>
	{% endif %}
{% endblock %}