{% extends "base.html" %}
{% load comments %}

{% block content %}
	<h1>{{ entry.title }}</h1>
	<p id="dateauthor">{{ entry.published_at|date}}</p>
	<p id="standfirst">{{ entry.standfirst }}</p>
	{{ entry.copy|safe }}

	{% get_comment_count for entry as comment_count %}
	{% if comment_count %}
		{% get_comment_list for entry as comment_list %}
		<h2>Comments</h2>
		<p>{{ comment_count }} comment{{ comment_count|pluralize }}</p>
		<ol id="comments">
			{% for comment in comment_list %}
				<li{% if comment.user.is_staff %} class="{{ comment.user.username }}"{% endif %}>
					{% if comment.is_removed %}<p><em>This comment has been removed.</em></p>{% else %}{{ comment.comment|linebreaks }}{% endif %}
					<p>
						{% if comment.user %}
							{% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user.first_name|default:comment.user.username|capfirst }}</a>{% else %}{{ comment.user.first_name|default:comment.user.username|capfirst }}{% endif %},
						{% else %}
							{% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name|title }}</a>{% else %}{{ comment.user_name|title }}{% endif %},
						{% endif %}
						{{ comment.submit_date|date }}
					</p>
				</li>
			{% endfor %}
		</ol>
	{% endif %}
{% endblock %}