{% extends "base.html" %}
{% load comments %}

{% block content %}
	<h1>{{ entry.title }}</h1>
	<p id="dateauthor">{{ entry.published_at|date}}</p>
	<p id="standfirst">{{ entry.standfirst }}</p>
	{{ entry.copy|safe }}

	{% get_comment_count for entry as comment_count %}
	{% if comment_count %}
		{% get_comment_list for entry as comment_list %}
		<h2>Comments</h2>
		<p>{{ comment_count }} comment{{ comment_count|pluralize }}</p>
		<ol id="comments">
			{% for comment in comment_list %}
				<li{% if comment.user.is_staff %} class="{{ comment.user.username }}"{% endif %}>
					{% if comment.is_removed %}<p><em>This comment has been removed.</em></p>{% else %}{{ comment.comment|safe|linebreaks }}{% endif %}
					<p>
						{% if comment.userinfo.url %}<a href="{{ comment.userinfo.url }}">{{ comment.userinfo.name|title }}</a>{% else %}{{ comment.userinfo.name|title }}{% endif %},
						{{ comment.submit_date|date }}
					</p>
				</li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if entry.allow_new_comment %}
		{% render_comment_form for entry %}
	{% endif %}
{% endblock %}
