{% extends "base.html" %}
{% load comments %}

{% block headtitle %}Blog{% endblock %}
{% block pagetitle %}<a href="{{ latest_entry.get_absolute_url }}">{{ latest_entry }}</a>{% endblock %}

{% block headsupplement %}<link href="http://feeds.feedburner.com/flother" rel="alternate" type="application/rss+xml" />{% endblock %}

{% block content %}
	<div id="entry">
		{% if latest_entry.standfirst %}<p id="standfirst">{{ latest_entry.standfirst }}</p>{% endif %}
		{{ latest_entry.copy_html|safe }}
		{% if latest_entry.enable_comments %}{% get_comment_count for latest_entry as comment_count %}{% endif %}
		<p id="metadata">{% if latest_entry.enable_comments %}<a href="{{ latest_entry.get_absolute_url }}#comments">{% if comment_count %}{{ comment_count }} comment{{ comment_count|pluralize }}{% else %}Leave a comment{% endif %}</a>.{% endif %} Written by {{ latest_entry.author.first_name|default:latest_entry.author.username|title }} on {{ latest_entry.published_at|date }}.</p>
	</div>
{% endblock %}

{% block supplement %}
	{% if recent_entries %}
		<h2>Earlier entries</h2>
		<ol id="recententries">
			{% for entry in recent_entries %}
				<li><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> <span>{{ entry.published_at|timesince }} ago</span></li>
			{% endfor %}
		</ol>
	{% endif %}
	{% if years_with_entries %}
		<ol id="yeararchives">
			{% for year in years_with_entries %}
				<li><a href="{% url blog_entry_archive_year year|date:"Y" %}">{{ year|date:"Y" }}</a></li>
			{% endfor %}
		</ol>
	{% endif %}
{% endblock %}