{% extends "base.html" %}
{% load comments gravatar %}

{% block headtitle %}{{ entry.title }}{% endblock %}
{% block pagetitle %}{{ entry.title }}{% endblock %}

{% block headsupplement %}<link href="http://feeds.feedburner.com/flother" rel="alternate" type="application/rss+xml" />{% endblock %}

{% block bodyid %}blogentry{% endblock %}

{% block content %}
	<div id="entry">
		{% if entry.standfirst %}<p id="standfirst">{{ entry.standfirst }}</p>{% endif %}
		{{ entry.copy_html|safe }}
		{% get_comment_count for entry as comment_count %}
		{% if comment_count or entry.allow_new_comment %}
			<div id="comments">
				<h2>Commentary</h2>
				{% if comment_count %}
					{% get_comment_list for entry as comment_list %}
					<ol>
						{% for comment in comment_list %}
							<li{% if comment.user.is_staff %} class="{{ comment.user.username }}"{% endif %} id="comment{{ comment.id }}">
								<div>{% if comment.is_removed %}<p><em>This comment has been removed.</em></p>{% else %}{{ comment.comment|urlizetrunc:60|linebreaks }}{% endif %}</div>
								<p class="metadata">
									{% gravatarimg comment.userinfo.email %}
									<span>{% if comment.userinfo.url and not comment.is_removed %}<a href="{{ comment.userinfo.url }}" title="{{ comment.name|title }}’s website">{{ comment.userinfo.name|title }}</a>{% else %}{{ comment.userinfo.name|title }}{% endif %}</span>
									<span>{{ comment.submit_date|date:"jS F Y" }}</span>
								</p>
							</li>
						{% endfor %}
					</ol>
				{% endif %}
				{% if entry.allow_new_comment %}
					{% render_comment_form for entry %}
				{% else %}
					{% if entry.enable_comments %}
						<p id="commentsclosed">Commenting is now closed. Comments were accepted on this entry only for the first {{ entry.DAYS_COMMENTS_ENABLED }} days.</p>
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block supplement %}
	<p id="metadata">Written by {{ entry.author.first_name|default:entry.author.username|title }} on {{ entry.published_at|date }}.</p>
	{% with entry.get_next_published_entry as next_published_entry %}
		{% if next_published_entry %}<p class="anotherentry">Next: <a href="{{ next_published_entry.get_absolute_url }}">{{ next_published_entry.title }}</a> <span>{{ next_published_entry.published_at|timeuntil:entry.published_at }} later</span></p>{% endif %}
	{% endwith %}
	{% with entry.get_previous_published_entry as previous_published_entry %}
		{% if previous_published_entry %}<p class="anotherentry">Previously: <a href="{{ previous_published_entry.get_absolute_url }}">{{ previous_published_entry.title }}</a> <span>{{ previous_published_entry.published_at|timesince:entry.published_at }} earlier</span></p>{% endif %}
	{% endwith %}
{% endblock %}