{% extends "base.html" %}

{% block headtitle %}Page not found{% endblock %}
{% block pagetitle %}Page not found{% endblock %}</h1>

{% block bodyid %}404{% endblock %}

{% block content %}
	<p>Sorry, but the page you’re looking for doesn’t exist.</p>
	<p>If you’re looking for something in particular you might find it either on the <a href="/">home page</a> or the <a href="{% url blog_entry_index %}">blog</a>.</p>
	<p>If you’re exceedingly annoyed that you’ve not only waited for a page that doesn’t exist but that you’ve also read all this without learning the secret to a happy life, you can <a href="{% url contact_send_message %}">send me a strongly-worded email</a> if you like.</p>
{% endblock %}
