<!DOCTYPE html>
<html lang=en-gb>
<head>
<meta charset=utf-8>
<title>Flother: page not found</title>
<meta name="viewport" content="width=620">
<link href="{{ MEDIA_URL }}css/home.css" media="screen,projection" rel="stylesheet" type="text/css">
<h1><a href="/">Flother</a></h1>
<p id="lede" style="background-image:url({{ MEDIA_URL }}img/core/pagenotfound.png)">Page not found
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">_gat._getTracker("UA-264001-4")._trackPageview();</script>
