<!DOCTYPE html><html lang=en-gb><head><meta charset=utf-8>
<title>Flother: 500 server error</title>
<style type="text/css">
body{background:#e8e7e5;color:#333;font:14px/1.4 "Helvetica Neue",Arial,Helvetica,sans-serif}
div{background:url(http://media.flother.com/img/core/500_ukiyoe.jpg) no-repeat;height:389px;margin:4em auto;width:627px}
p{background: url(http://media.flother.com/img/core/500_haiku.png) left center no-repeat;height:100%;margin:0 0 0 270px;text-indent:-9999px;width:377px}
</style>
<div><p>Ancient site, Flother / A gremlin leaps from without / The sound of failure is heard</p></div>
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">_gat._getTracker("UA-264001-4")._trackPageview();</script>
