<!DOCTYPE html>
<html lang=en-gb>
<head>
<meta charset=utf-8>
<title>Flother: time for tea</title>
<style type="text/css">
body { background: #e8e7e5; color: #333; font: 14px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif; margin: 4em auto; width: 30em; }
h1 { background: url(http://media.flother.com/img/core/500.png) no-repeat; height: 165px; margin: 0 0 3em; text-indent: -9999px; width: 409px; }
</style>
<h1><a href="/">Flother: server error</a></h1>
<p>Oh dear. It looks like something very bad has happened here at Flother.
<p>Don’t worry, it’s not your fault. It’s mine. With luck everything should be sorted in a few minutes. Why not make yourself a nice cup of tea, and come back then?
<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">_gat._getTracker("UA-264001-4")._trackPageview();</script>
