{% extends "base.html" %}
{% load githubgraphs %}

{% block headtitle %}About{% endblock %}

{% block page %}
	<div id="content">
		<h1>About</h1>
		<div id="theman">
			<h2>The man</h2>
			<p>Born thirty years ago I’m Matt Riggott, an Englishman in exile in <a href="http://www.flickr.com/photos/riggott/sets/72157612290638104/map/">Glasgow, Scotland</a>. I’ve been there since April 2009 after moving from Edinburgh, the place I’d called home for over six years. I live in The Weeg with my lovely lady, <a href="http://www.flickr.com/photos/riggott/2822563868/">Alison</a>. Some interesting things I’ve done are:</p>
			<ul>
				<li>As a wee man I lived in Kuwait.</li>
				<li>A couple of years ago <a href="http://www.flickr.com/photos/11948089@N07/1338618348/">I ran the Reykjavik marathon</a>.</li>
				<li>I learned Spanish for years, to the point I could describe myself as utterly mediocre at the language.</li>
				<li>I <a href="/blog/2005/st-louis/">lived in St Louis, Missouri</a> for a couple of months.</li>
				<li>I wandered around <a href="/blog/2005/love/">South America</a> and <a href="/blog/2007/patagonia/">Patagonia</a> for a little while.</li>
				<li>Bizarrely, I was the <a href="/blog/2007/film-festival/">cover model</a> for the 2007 Edinburgh International Film Festival.</li>
			</ul>
		</div>
		<div id="thesite">
			<h2>The site</h2>
			<p>Made on a Mac using <a href="http://macromates.com/">Textmate</a> and <a href="http://www.pixelmator.com/">Pixelmator</a>, Flother runs on lovingly hand-crafted <a href="http://www.python.org/">Python</a> code built using the <a href="http://www.djangoproject.com/">Django</a> web framework. This is version <code>{{ version }}</code>. The <a href="http://github.com/flother/flother">code is available on Github</a>. The site is hosted on <a href="http://www.slicehost.com/">Slicehost</a>, and I thoroughly recommend them.</p>
			<p>The icons that appear in the ‘Elsewhere’ section of the footer are based on <a href="http://glyphish.com/">Glyphish</a>, and are available under a <a href="http://creativecommons.org/licenses/by/3.0/deed.en_GB">Creative Commons licence</a>. The Twitter icon found on the contact page was <a href="http://wefunction.com/2008/07/freebie-twitter-icons-illustration/">drawn by Function</a>.</p>
			<p>I regularly add new functionality to the site — and to prove it, you can see how many commits I've made to the Git repository over the last year:</p>
			<p id="gitgraph">{% github_participation_graph "flother" "flother" "276x46" "333333" "ffffff" "efefef" %}</p>
		</div>
		<div id="everythingelse">
			<h2>Find me elsewhere</h2>
			<ul>
				<li>
					<a href="http://www.northatlanticradio.com/">North Atlantic Radio</a>
					<span>A podcast I present, along with Brian Suda, that’s mostly about the web</span>
				</li>
				<li>
					<a href="http://mpexpenses.appspot.com/">MPs’ expenses</a>
					<span>Facts and figures from the 2009 MPs’ expenses affair</span>
				</li>
				<li>
					<a href="http://24ways.org/2008/using-google-app-engine-as-your-own-cdn">Using Google App Engine as a CDN</a>
					<span>An article from the 2008 edition of 24ways</span>
				</li>
				<li>
					<a href="http://www.mercurytide.co.uk/news/article/django-signals/">Django signals</a>
					<span>Tonnes and tonnes of information about Django’s signals framework</span>
				</li>
				<li class="last">
					<a href="http://www.alistapart.com/articles/searchhighlight">Enhance usability by highlighting search terms</a>
					<span>My appearance on A List Apart in 2004</span>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}