<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
	<head{% block headattrs %}{% endblock %}>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block headtitle %}Untitled{% endblock %} — Flother</title>
		<meta http-equiv="imagetoolbar" content="false" />
		<link href="{{ MEDIA_URL }}css/reset.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="{{ MEDIA_URL }}css/structure.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="{{ MEDIA_URL }}css/typography.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="{{ MEDIA_URL }}css/sections.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="{{ MEDIA_URL }}img/core/favicon.png" rel="icon" type="image/png" />
		{% block headsupplement %}{% endblock %}
	</head>
	<body class="{{ section }}" id="{% block bodyid %}{{ section }}{% endblock %}">
		<div id="header">
			<p id="brand"><a href="/">Flother</a></p>
			<ul id="nav">
				<li id="navblog"><a href="{% url blog_entry_index %}">Blog</a></li>
				<li id="navcontact"><a href="{% url contact_send_message %}">Contact</a></li>
			</ul>
		</div>
		<div id="content">
			{% block title %}
				<h1>{% block pagetitle %}Untitled{% endblock %}</h1>
			{% endblock %}
			{% block content %}{% endblock %}
		</div>
		<div id="supplement">
			{% block supplement %}{% endblock %}
		</div>
		<div id="footer">
			<p>Copyright 2005–{{ current_year }} Matt Riggott.</p>
		</div>
		{% block bodysupplement %}{% endblock %}
	</body>
</html>
