<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
	<head{% block headattrs %}{% endblock %}>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block headtitle %}Untitled{% endblock %} — Flother</title>
		<meta name="viewport" content="width=960" />
		<meta http-equiv="imagetoolbar" content="false" />
		{% load compressed %}{% compressed_css 'flother' %}
		<!--[if lte IE 7]><link href="{{ MEDIA_URL }}css/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->
		<meta name="Author" content="Matt Riggott" />
		<meta name="Copyright" content="Copyright 2005–{{ current_year }} Matt Riggott" />
		<meta name="ICBM" content="55.867, -4.270" />
		<link href="{{ MEDIA_URL }}img/core/favicon.png" rel="icon" type="image/png" />
		<link href="{{ MEDIA_URL }}img/core/mobile_icon.png" rel="apple-touch-icon" type="image/png" />
		{% block headsupplement %}{% endblock %}
	</head>
	<body class="{{ section }}" id="{% block bodyid %}{{ section }}{% endblock %}">
		<div id="header">
			<p id="brand"><a href="/">Flother</a></p>
			<ul id="nav">
				<li id="navblog"><a href="{% url blog_entry_index %}">Blog</a></li>
				<li id="navabout"><a href="{% url about %}">About</a></li>
				<li id="navsearch"><a href="{% url search_search_results %}">Search</a></li>
				<li id="navcontact"><a href="{% url contact_send_message %}">Contact</a></li>
			</ul>
		</div>
		{% block page %}
			<h1>{% block pagetitle %}Untitled{% endblock %}</h1>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="supplement">
				{% block supplement %}{% endblock %}
			</div>
		{% endblock %}
		<div id="footer">
			<div>
				<div id="whoisthis">
					<h2>Who’s this?</h2>
					<p>Matt Riggott is an Englishman in permanent exile in Glasgow, Scotland. He’s loved the internet since at least 1995, although it resolutely refuses to love him back.</p>
				</div>
				<div id="latestentries">
					<h2>From the blog</h2>
					<ol>
						{% for entry in latest_entries %}
							<li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a> <span>{{ entry.published_at|timesince}} ago</span></li>
						{% endfor %}
					</ol>
				</div>
				<div id="elsewhere">
					<h2>Elsewhere on the internet</h2>
					<ul>
						<li id="flickr"><a href="http://www.flickr.com/photos/riggott">Flickr</a></li>
						<li id="twitter"><a href="http://twitter.com/riggbot">Twitter</a></li>
						<li id="delicious"><a href="http://delicious.com/mjr">Delicious</a></li>
						<li id="github"><a href="http://github.com/flother">Github</a></li>
						<li id="northatlanticradio"><a href="http://www.northatlanticradio.com/">Podcast</a></li>
					</ul>
				</div>
			</div>
		</div>
		{% block bodysupplement %}{% endblock %}
		{% if not user.is_staff %}
			<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
			<script type="text/javascript">var t = _gat._getTracker("UA-264001-4");t._setDomainName("{{ site_domain }}");t._trackPageview();</script>
		{% endif %}
	</body>
</html>
