{% extends "base.html" %}

{% block introduction %}
	<p id="lede"><strong>Photographer, programmer, and political animal.</strong></p>
	<p>After stumbling home from the pub one cold Friday night, I found myself staring at my computer screen, bank card in hand. I became the newest owner of a domain name. The morning after, my wallet a few pounds lighter, I wondered what I to do with my newly-discovered internet chattels. Three years later you see the result: one measly page with barely any&nbsp;content.</p>
	<p>You’ve found the site of me, <span class="fn">Matt Riggott</span>. Based in <span class="adr"><span class="locality">Glasgow</span>, <span class="country-name">Scotland</span></span>, I’m one part amateur photographer, one part programmer, and ravenous devourer of political news. If you look around carefully you’ll see evidence of all&nbsp;three.</p>
{% endblock %}

{% block content %}
	<div id="photography">
		<h2>Photography</h2>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/2822561528/" title="See this photo on Flickr"><img alt="Jökulsárlón" height="309" src="http://farm4.static.flickr.com/3107/2822561528_3921c39f8e.jpg" width="500" /></a>
			<p><strong xml:lang="is">Jökulsárlón</strong> Icebergs drift slowly out to sea in this glacial lagoon in the south-east of&nbsp;Iceland.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/544509055/" title="See this photo on Flickr"><img alt="Congreso Nacional" height="375" src="http://farm2.static.flickr.com/1056/544509055_0ac840e84f.jpg" width="500" /></a>
			<p><strong xml:lang="es">Congreso Nacional</strong> The sun sets over the Argentinean capital, Buenos&nbsp;Aires.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/544503053/" title="See this photo on Flickr"><img alt="Ushuaia" height="336" src="http://farm2.static.flickr.com/1379/544503053_cf6c1c4ebb.jpg" width="500" /></a>
			<p><strong xml:lang="es">Ushuaia</strong> Mountains loom over the southernmost city in the&nbsp;world.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/543954111/" title="See this photo on Flickr"><img alt="Perito Moreno" height="375" src="http://farm2.static.flickr.com/1220/543954111_4a6d1048d5.jpg" width="500" /></a>
			<p><strong xml:lang="es">Perito Moreno</strong> A glacier the size of a city in Argentinean&nbsp;Patagonia.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/445406313/" title="See this photo on Flickr"><img alt="All Souls College" height="375" src="http://farm1.static.flickr.com/228/445406313_9eca3c526f.jpg" width="500" /></a>
			<p><strong>Oxford college</strong> Flowers bloom outside All Souls College,&nbsp;Oxford.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/85626597/" title="See this photo on Flickr"><img alt="Parisian musketeer" height="375" src="http://farm1.static.flickr.com/41/85626597_87c74b88d2.jpg" width="500" /></a>
			<p><strong>Parisian musketeer</strong> Looking out across Paris from the top of the Eiffel&nbsp;Tower.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/85616051/" title="See this photo on Flickr"><img alt="Cour Carée" height="375" src="http://farm1.static.flickr.com/37/85616051_1efece673c.jpg" width="500" /></a>
			<p><strong xml:lang="fr">Cour Carée</strong> Night time in a courtyard of the Musée du&nbsp;Louvre.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/27523325/" title="See this photo on Flickr"><img alt="Crossing the Royal Mile" height="375" src="http://farm1.static.flickr.com/23/27523325_2851507453.jpg" width="500" /></a>
			<p><strong>Make Poverty History</strong> On the Edinburgh march, crossing the Royal&nbsp;Mile.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/12051640/" title="See this photo on Flickr"><img alt="Sunset on Easter Island" height="375" src="http://farm1.static.flickr.com/11/12051640_c7ea1d33ad.jpg" width="500" /></a>
			<p><strong xml:lang="rap">Moai</strong> Standing watch over a pacific&nbsp;sunset.</p>
		</div>
		<div class="photograph">
			<a href="http://www.flickr.com/photos/riggott/5909474/" title="See this photo on Flickr"><img alt="Yellow flowers" height="375" src="http://farm1.static.flickr.com/7/5909474_cb497e4a27.jpg" width="500" /></a>
			<p><strong>Yellow flowers</strong> On a cold but clear day in the Missouri Botanial&nbsp;Garden.</p>
		</div>
	</div>
	<div id="contact">
		<h2>Contact me</h2>
		{% include "contact/_form.html" %}
	</div>
	<div id="elsewhere">
		<h2>Elsewhere</h2>
		<ul>
			<li><a href="http://twitter.com/riggbot" id="twitter" rel="me" title="Idle and pointless musings">Twitter</a> It’s a mandatory part of modern life, isn’t&nbsp;it?</li>
			<li><a href="http://www.flickr.com/photos/riggott/" id="flickr" rel="me" title="More of my photos on Flickr">Flickr photos</a> Even more of my photos, if you can handle&nbsp;them</li>
			<li><a href="http://delicious.com/mjr" id="delicious" rel="me" title="My bookmarks">Delicious bookmarks</a> The more worthy parts of the&nbsp;internet.</li>
		</ul>
	</div>
{% endblock %}
