<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
	<head profile="http://gmpg.org/xfn/11">
		<title>Flother</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=620" />
		<meta http-equiv="imagetoolbar" content="false" />
		<link href="/media/css/home.css" media="screen,projection" rel="stylesheet" type="text/css" />
		<link href="/media/img/core/favicon.png" rel="icon" type="image/png" />
		<link href="http://api.flickr.com/services/feeds/photos_public.gne?id=42348675@N00&amp;lang=en-gb&amp;format=atom" rel="alternate" title="My photos on Flickr" type="application/atom+xml" />
		<link href="http://feeds.delicious.com/v2/atom/mjr" rel="alternate" title="My bookmarks on Delicious" type="application/atom+xml" />
	</head>
	<body>
		<div class="vcard" id="introduction">
			<h1><a class="url" href="/">Flother</a></h1>
			<p id="lede"><strong>Photographer, programmer, and political animal.</strong></p>
			<p>After stumbling home from the pub one cold Friday night, I found myself staring at my computer screen, bank card in hand. I became the newest owner of a domain name. The morning after, my wallet a few pounds lighter, I wondered what I to do with my newly-discovered internet chattels. Three years later you see the result: one measly page with barely any&nbsp;content.</p>
			<p>You’ve found the site of me, <span class="fn">Matt Riggott</span>. Based in <span class="adr"><span class="locality">Glasgow</span>, <span class="country-name">Scotland</span></span>, I’m one part amateur photographer, one part programmer, and ravenous devourer of political news. If you look around carefully you’ll see evidence of all&nbsp;three.</p>
		</div>
		<div id="photography">
			<h2>Photography</h2>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/2822561528/" title="See this photo on Flickr"><img alt="Jökulsárlón" height="309" src="http://farm4.static.flickr.com/3107/2822561528_3921c39f8e.jpg" width="500" /></a>
				<p><strong xml:lang="is">Jökulsárlón</strong> Icebergs drift slowly out to sea in this glacial lagoon in the south-east of&nbsp;Iceland.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/544509055/" title="See this photo on Flickr"><img alt="Congreso Nacional" height="375" src="http://farm2.static.flickr.com/1056/544509055_0ac840e84f.jpg" width="500" /></a>
				<p><strong xml:lang="es">Congreso Nacional</strong> The sun sets over the Argentinean capital, Buenos&nbsp;Aires.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/544503053/" title="See this photo on Flickr"><img alt="Ushuaia" height="336" src="http://farm2.static.flickr.com/1379/544503053_cf6c1c4ebb.jpg" width="500" /></a>
				<p><strong xml:lang="es">Ushuaia</strong> Mountains loom over the southernmost city in the&nbsp;world.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/543954111/" title="See this photo on Flickr"><img alt="Perito Moreno" height="375" src="http://farm2.static.flickr.com/1220/543954111_4a6d1048d5.jpg" width="500" /></a>
				<p><strong xml:lang="es">Perito Moreno</strong> A glacier the size of a city in Argentinean&nbsp;Patagonia.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/445406313/" title="See this photo on Flickr"><img alt="All Souls College" height="375" src="http://farm1.static.flickr.com/228/445406313_9eca3c526f.jpg" width="500" /></a>
				<p><strong>Oxford college</strong> Flowers bloom outside All Souls College,&nbsp;Oxford.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/85626597/" title="See this photo on Flickr"><img alt="Parisian musketeer" height="375" src="http://farm1.static.flickr.com/41/85626597_87c74b88d2.jpg" width="500" /></a>
				<p><strong>Parisian musketeer</strong> Looking out across Paris from the top of the Eiffel&nbsp;Tower.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/85616051/" title="See this photo on Flickr"><img alt="Cour Carée" height="375" src="http://farm1.static.flickr.com/37/85616051_1efece673c.jpg" width="500" /></a>
				<p><strong xml:lang="fr">Cour Carée</strong> Night time in a courtyard of the Musée du&nbsp;Louvre.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/27523325/" title="See this photo on Flickr"><img alt="Crossing the Royal Mile" height="375" src="http://farm1.static.flickr.com/23/27523325_2851507453.jpg" width="500" /></a>
				<p><strong>Make Poverty History</strong> On the Edinburgh march, crossing the Royal&nbsp;Mile.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/12051640/" title="See this photo on Flickr"><img alt="Sunset on Easter Island" height="375" src="http://farm1.static.flickr.com/11/12051640_c7ea1d33ad.jpg" width="500" /></a>
				<p><strong xml:lang="rap">Moai</strong> Standing watch over a pacific&nbsp;sunset.</p>
			</div>
			<div class="photograph">
				<a href="http://www.flickr.com/photos/riggott/5909474/" title="See this photo on Flickr"><img alt="Yellow flowers" height="375" src="http://farm1.static.flickr.com/7/5909474_cb497e4a27.jpg" width="500" /></a>
				<p><strong>Yellow flowers</strong> On a cold but clear day in the Missouri Botanial&nbsp;Garden.</p>
			</div>
		</div>
		<div id="elsewhere">
			<h2>Elsewhere</h2>
			<ul>
				<li><a href="http://twitter.com/riggbot" id="twitter" rel="me" title="Idle and pointless musings">Twitter</a> It’s a mandatory part of modern life, isn’t&nbsp;it?</li>
				<li><a href="http://www.flickr.com/photos/riggott/" id="flickr" rel="me" title="More of my photos on Flickr">Flickr photos</a> Even more of my photos, if you can handle&nbsp;them</li>
				<li><a href="http://delicious.com/mjr" id="delicious" rel="me" title="My bookmarks">Delicious bookmarks</a> The more worthy parts of the&nbsp;internet.</li>
			</ul>
		</div>
		<p id="footer">All this lovely content is under my copyright, so don’t steal it. Thanks go to Henry Kunz for the logo&nbsp;design.</p>
		<script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
		<script type="text/javascript">_gat._getTracker("UA-264001-4")._trackPageview();</script>
	</body>
</html>
